.calculator-container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.input-container {
    margin: 20px 0;
}

.input-field {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.calc-button {
    border-radius: 5px;
    margin-bottom: 10px;
}
.result {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
