.calculator {
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    height: 70px;
    font-size: 28px; /* Adjust font size as needed */
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width */
}

.buttons .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

button {
    width: 70px; /* Fixed width for each button */
    height: 70px; /* Fixed height for each button */
    font-size: 24px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.number, .operator, .clear, .calculate {
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.number:hover, .operator:hover, .clear:hover, .calculate:hover {
    background-color: #f0f0f0;
}

.clear {
    background-color: #ff3333;
}

.calculate {
    color: #339933;
}